@font-face {
    font-family: "Balloo";
    src: url("/webfonts/Baloo2-ExtraBold.ttf");
}

:root {
    --bg: #19191a;
    --fg: #80b338;
    --white: #e3e8ea;
    --grey: #4b4c4d;
}

* {
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--bg);
    font-family: "Open Sans", sans-serif;
}

#ensibf
{
    margin: auto;
    padding: 50px;
}

#ensibf > h1
{
    text-align: center;
}

#ensibf > h1, #ensibf > h1 > .suffix
{
    font-family: "Balloo";
    font-size: 60px;
}

#ensibf .suffix
{
    margin: 0 8px;
    padding: 0 10px;
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 7px;
}

#links
{
    margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

#links .link
{
    margin: 30px;
    width: 200px;
    height: 130px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links .link > i
{
    font-size: 56px;
}

#links .link::before, #links .link::after
{
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

#links .link::before
{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--fg);
    border-left-color: var(--fg);
}

#links .link::after
{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--fg);
    border-right-color: var(--fg);
}

#links .link:hover:before, #links .link:hover:after
{
    width: 100%;
    height: 100%;
}

#links .link:hover > i
{
    color: var(--fg);
}

footer
{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer > a > i
{
    color: var(--grey);
    padding: 20px;
}

footer > a > i:hover
{
    color: var(--white);
}
